**/target
**/bin
**/*.jar
**/*.war
**/*.ear
**/*.class

# Eclipse IDEA
**/*.pydevproject
#**/.project
**/.metadata
**/bin/**
**/tmp/**
**/tmp/**/*
**/*.tmp
**/*.bak
**/*.swp
**/*~.nib
**/local.properties
**/.classpath
**/.settings/
**/.loadpath
**/*.launch

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# External tool builders
**/.externalToolBuilders/

# Mac directory listing
.DS_Store
dependency-reduced-pom.xml
